.search-package{
  position: relative;
  width: 410px;
}
#search-results{
  display: none;
  top: 120%;
}
.search-input-field input {
  height: 30px;
  text-align: right;
  width: 60px;
  border: 0;
  display: block;
  font-size: 14px;
  cursor: pointer;
}

.search-input-field input.placeholder {
  text-align: right;
  color: #ccc;
  font-size: 14px;
  font-weight: 300;
  opacity: 1;
}

.search-input-field input:-moz-placeholder {
  text-align: right;
  color: #ccc;
  font-size: 14px;
  font-weight: 300;
  opacity: 1;
}

.search-input-field input::-webkit-input-placeholder {
  text-align: right;
  color: #ccc;
  font-size: 14px;
  font-weight: 300;
  opacity: 1;
}

.search-input-field input:hover,
.search-input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.search-input-field .clear{
  width: 30px;
  height: 30px;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  border: 0;
  background: transparent;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s ease-out;
}
.search-input-field .search-confirm {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 8px;
  border: 0;
  background: transparent;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s ease-out;
}

.search-input-field .clear svg{
  fill: grey;
  width: 22px;
  height: 22px;
}
.search-input-field .search-confirm svg {
  fill: blue;
  width: 22px;
  height: 22px;
}

.search-input-field .clear:hover,
.search-input-field .clear:focus,
.search-input-field .search-confirm:hover,
.search-input-field .search-confirm:focus {
  box-shadow: none;
  outline: 0;
}

.search-input-field .clear:hover svg,
.search-input-field .clear:focus svg,
.search-input-field .search-confirm:hover svg,
.search-input-field .search-confirm:focus svg {
  fill: #333;
}

.search-input-field input {
  padding: 8px 50px 8px 0px;
  border-radius: 30px;
  width: 100%;
  transition: width .2s ease-in;
}

.search-category-box{
  display: flex;
}

.search-category{
  flex: 1;text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin: 3px;
}

.search-category:hover,.search-category.active{
  background: #adb5bd;
  color: #f8f9fa;
}